extends ../layout

block contenido
  .register-container
    .register-header
      h1 TodoStock S.A.
      p Crear Nueva Cuenta
    
    if error
      .error-msg= error
    
    form(action="/register", method="POST")
      div
        label(for="username") Usuario:
        input(type="text", id="username", name="username", value=datos && datos.username ? datos.username : '', required)
      
      div
        label(for="nombre") Nombre Completo:
        input(type="text", id="nombre", name="nombre", value=datos && datos.nombre ? datos.nombre : '', required)
      
      div
        label(for="email") Email:
        input(type="email", id="email", name="email", value=datos && datos.email ? datos.email : '', required)
      
      div
        label(for="password") Contraseña:
        input(type="password", id="password", name="password", required)
      
      div
        label(for="confirmPassword") Confirmar Contraseña:
        input(type="password", id="confirmPassword", name="confirmPassword", required)
      
      button(type="submit") Registrarse
    
    .login-link
      p ¿Ya tienes cuenta? 
        a(href="/login") Iniciar Sesión