//- doctype html
//- doctype html
//- html(lang="es")
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     title= titulo
//-     link(rel="stylesheet", href="/css/styles.css")
  
//-   body
//-     if usuario
//-       header
//-         nav
//-           ul
//-             li: a(href="/") Home
//-             li: a(href="/productos") Productos
//-             li: a(href="/clientes") Clientes
//-             li: a(href="/proveedores") Proveedores
//-             li: a(href="/finanzas") Finanzas
//-             li: a(href="/logout") Salir
//-     else
//-       header
//-         nav
//-           ul
//-             li: a(href="/login") Iniciar Sesión
//-             li: a(href="/register") Registrarse
    
//-     main
//-       block contenido
    
//-     footer
//-       p &copy; 2026 TodoStock S.A. - Todos los derechos reservados

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= titulo
    link(rel="stylesheet" href="/css/styles.css")

  body
    if usuario
      if usuario.rol === 'usuario'
        header
          nav
            ul
              li: a(href="/dashboard") Dashboard
              li: a(href="/productos") Productos
              li: a(href="/clientes") Clientes
              li: a(href="/proveedores") Proveedores
              li: a(href="/finanzas") Finanzas
              li.user-info-nav
                span.username-nav #{usuario.username}
              li: a(href="/logout") Cerrar Sesión

      if usuario.rol === 'admin'
        header
          nav
            ul
              li: a(href="/dashboard") Dashboard
              li: a(href="/admin") Usuarios
              li: a(href="/facturas-proveedor/inventario") Inventario
              li: a(href="/productos") Productos
              li: a(href="/clientes") Clientes
              li: a(href="/proveedores") Proveedores
              li: a(href="/finanzas") Finanzas
              li.user-info-nav
                span.username-nav #{usuario.username}
              li: a(href="/logout") Cerrar Sesión
    else
      header
        nav
          ul
            li: a(href="/login") Iniciar Sesión
            li: a(href="/register") Registrarse

    main
      block contenido

    footer
      p &copy; 2026 TodoStock - All Right Reserved